@use "../abstract" as core;
@use "./text" as text;

@mixin label {
    @include text.text;
    display: block;
    margin-bottom: 0.8rem;
    font-weight: core.font-weight("bold");
    letter-spacing: 0.05rem;
    width: 100%;
    max-width: 100%;
}
