@use "../abstract" as core;
@use "../componentes" as comp;

.footer{
    @include core.layout_basico;
    justify-items: center;
    
    &__logo{
        @include comp.logo-img;
        grid-column: 1/-1;
        grid-row: 1/2;
        @include core.media(medium){
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }
    &__text{
        grid-row: 2/3;
        grid-column: 1/-1;
        display: flex;
        align-items: center;
        justify-content: center;
        @include core.media(medium){
            grid-column: 2/9;
            grid-row: 1/2;
        }
        &--content{
            @include comp.text;
            background-color: transparent;
            border: none;
            text-align: center;
        }
    }
    &__social{
        grid-column: 1/-1;
        grid-row: 3/4;
        @include core.flexposition(row, right, center);
        gap:3rem;
        &--link{
            @include comp.icons;
        }
        @include core.media(medium){
            grid-column: 9/-1;
            grid-row: 1/2;
        }
    }
}
